.rectangle33,
.rectangle34 {
  position: absolute;
  top: 0;
  left: 216px;
  border-radius: 60px;
  background-color: rgba(62, 63, 216, 0.75);
  width: 884px;
  height: 808px;
}
.rectangle33 {
  top: 132px;
  left: 0;
  background-color: rgba(239, 139, 141, 0.75);
  width: 501px;
  height: 514px;
}
.group-container47,
.rectangle32 {
  position: absolute;
  top: 0;
  left: 779px;
  width: 1100px;
  height: 808px;
}
.rectangle32 {
  left: 0;
  border-radius: 20px;
  background-color: #3e3fd8;
  width: 170px;
  height: 60px;
}
.get-started-text1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.rectangle31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #eef4ff;
  width: 23px;
  height: 23px;
}
.arrow-icon3 {
  position: absolute;
  top: 8.32px;
  left: 7px;
  width: 9px;
}
.group-container46 {
  position: absolute;
  top: 2px;
  left: 101px;
  width: 23px;
  height: 23px;
}
.group-container45 {
  position: absolute;
  top: 17px;
  left: 23px;
  width: 124px;
  height: 26px;
}
.group-container44 {
  position: absolute;
  top: 610px;
  left: 190px;
  width: 170px;
  height: 60px;
  color: #eef4ff;
}
.lorem-ipsum-is8 {
  top: 516px;
  left: 160px;
  width: 455px;
  height: 54px;
}
.lorem-ipsum-is8,
.marketing-is-the,
.watch-our-video {
  position: absolute;
  display: inline-block;
}
.watch-our-video {
  top: 627px;
  left: 458px;
  font-weight: 500;
}
.marketing-is-the {
  top: 212px;
  left: 160px;
  font-size: 64px;
  color: #2e323b;
  width: 550px;
  height: 264px;
}
.group-icon,
.rectangle30 {
  position: absolute;
  top: 616px;
  left: 390px;
  width: 48px;
  height: 48px;
}
.rectangle30 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #eef4ff;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  width: 269px;
  height: 120px;
}
.our-creative-team {
  position: absolute;
  top: 22px;
  left: 59px;
  font-weight: 600;
  display: inline-block;
}
.rectangle29 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #3e3fd8;
  border: 1px solid #eef4ff;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.text2 {
  position: absolute;
  top: 7px;
  left: 15px;
  display: inline-block;
}
.group-container43 {
  position: absolute;
  top: 0;
  left: 142px;
  width: 40px;
  height: 40px;
}
.rectangle-icon,
.rectangle-icon1,
.rectangle-icon2,
.rectangle-icon3,
.rectangle-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.rectangle-icon,
.rectangle-icon1,
.rectangle-icon2,
.rectangle-icon3 {
  left: 30px;
}
.rectangle-icon,
.rectangle-icon1,
.rectangle-icon2 {
  left: 59px;
}
.rectangle-icon,
.rectangle-icon1 {
  left: 87px;
}
.rectangle-icon {
  left: 115px;
}
.group-container42 {
  position: absolute;
  top: 58px;
  left: 43px;
  width: 182px;
  height: 40px;
  color: #fff;
}
.group-container41 {
  position: absolute;
  top: 580px;
  left: 635px;
  width: 269px;
  height: 120px;
  color: #2e323b;
}
.on-the-way-to-the-goal {
  position: absolute;
  top: 77px;
  left: 728px;
  width: 601px;
  height: 878px;
  object-fit: cover;
}
.frame-container16 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eef4ff;
  width: 1440px;
  height: 808px;
}
.about-us-text1,
.home-text,
.service-text {
  position: relative;
  display: inline-block;
  margin-right: 64px;
}
.pricing-text {
  position: relative;
  display: inline-block;
}
.frame-container15 {
  position: absolute;
  top: 17px;
  left: 271px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #61646b;
}
.agency-text1 {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 36px;
  display: inline-block;
}
.rectangle28 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #eef4ff;
  width: 170px;
  height: 60px;
}
.sign-up-text {
  position: absolute;
  top: 17px;
  left: 58px;
  display: inline-block;
}
.group-container40 {
  position: absolute;
  top: 0;
  left: 950px;
  width: 170px;
  height: 60px;
  font-size: 18px;
}
.frame-container14 {
  position: absolute;
  top: 36px;
  left: 160px;
  width: 1120px;
  height: 60px;
}
.frame-container13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 132px;
  font-size: 24px;
  color: #3e3fd8;
}
.see-how-much {
  position: absolute;
  top: 80px;
  left: 160px;
  display: inline-block;
}
.screenshot-128-1 {
  position: absolute;
  top: 189px;
  left: 246px;
  width: 965px;
  height: 84px;
  object-fit: cover;
}
.take-your-online {
  top: 0;
  font-size: 48px;
  color: #2e323b;
  width: 457px;
  height: 208px;
}
.direct-scheduling-text,
.lorem-ipsum-is7,
.take-your-online {
  position: absolute;
  left: 0;
  display: inline-block;
}
.lorem-ipsum-is7 {
  top: 35px;
  width: 360px;
  height: 57px;
}
.direct-scheduling-text {
  top: 0;
  font-size: 24px;
  font-weight: 600;
  color: #2e323b;
}
.group-container39,
.rectangle27 {
  position: absolute;
  top: 0;
  left: 95px;
  width: 360px;
  height: 92px;
}
.rectangle27 {
  left: 0;
  border-radius: 10px;
  background-color: #50cb93;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  width: 75px;
  height: 75px;
}
.planner-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.group-container38 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 75px;
  height: 75px;
}
.group-container37 {
  position: absolute;
  top: 248px;
  left: 2px;
  width: 455px;
  height: 92px;
}
.lorem-ipsum-is6,
.reminders-text {
  position: absolute;
  left: 0;
  display: inline-block;
}
.lorem-ipsum-is6 {
  top: 35px;
  width: 360px;
  height: 57px;
}
.reminders-text {
  top: 0;
  font-size: 24px;
  font-weight: 600;
  color: #2e323b;
}
.group-container36,
.rectangle26 {
  position: absolute;
  top: 0;
  left: 95px;
  width: 360px;
  height: 92px;
}
.rectangle26 {
  left: 0;
  border-radius: 10px;
  background-color: #ff3d68;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  width: 75px;
  height: 75px;
}
.notification-icon {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.group-container35 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 75px;
  height: 75px;
}
.group-container34 {
  position: absolute;
  top: 360px;
  left: 2px;
  width: 455px;
  height: 92px;
}
.lorem-ipsum-is5,
.shop-grid-text {
  position: absolute;
  left: 0;
  display: inline-block;
}
.lorem-ipsum-is5 {
  top: 26px;
  width: 360px;
  height: 57px;
}
.shop-grid-text {
  top: 0;
  font-weight: 600;
  color: #2e323b;
}
.group-container33,
.rectangle25 {
  position: absolute;
  top: 0;
  left: 95px;
  width: 360px;
  height: 83px;
}
.rectangle25 {
  left: 0;
  border-radius: 10px;
  background-color: #7d83fc;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  width: 75px;
  height: 75px;
}
.shopping-bag-icon {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.group-container32 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 75px;
  height: 75px;
}
.group-container31 {
  position: absolute;
  top: 472px;
  left: 2px;
  width: 455px;
  height: 83px;
}
.frame-container11,
.frame-container12,
.group-container30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 457px;
  height: 555px;
}
.frame-container11,
.frame-container12 {
  height: 572px;
}
.frame-container11 {
  top: 414px;
  left: 728px;
  width: 552px;
  font-size: 18px;
  color: #61646b;
}
.answer-image {
  position: absolute;
  top: 393px;
  left: 96px;
  width: 614px;
  height: 614px;
  object-fit: cover;
}
.frame-container10 {
  position: absolute;
  top: 808px;
  left: 0;
  width: 1440px;
  height: 1089px;
  font-size: 48px;
  color: #2e323b;
}
.lorem-ipsum-is4,
.want-you-to {
  position: absolute;
  top: 223px;
  left: 540px;
  text-align: center;
  display: inline-block;
  width: 360px;
  height: 57px;
}
.want-you-to {
  top: 65px;
  left: 511px;
  font-size: 48px;
  color: #2e323b;
  width: 418px;
  height: 138px;
}
.rectangle24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.15);
  width: 360px;
  height: 360px;
}
.lorem-ipsum-is3 {
  position: absolute;
  top: 33px;
  left: 0;
  display: inline-block;
  width: 300px;
  height: 82px;
}
.read-more-text2,
.scheduling-text {
  position: absolute;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.scheduling-text {
  top: 0;
  font-size: 24px;
  color: #2e323b;
}
.read-more-text2 {
  top: 135px;
  color: #3e3fd8;
}
.arrow-icon2 {
  position: absolute;
  top: 144.23px;
  left: 94px;
  width: 18px;
}
.group-container29,
.rectangle23 {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 300px;
  height: 161px;
}
.rectangle23 {
  top: 30px;
  border-radius: 10px;
  background-color: #50cb93;
  box-shadow: 0 26px 50px rgba(80, 203, 147, 0.25);
  width: 100px;
  height: 100px;
}
.image {
  position: absolute;
  top: 48px;
  left: 47px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.group-container28,
.rectangle22 {
  position: absolute;
  top: 320px;
  left: 160px;
  width: 360px;
  height: 360px;
}
.rectangle22 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #3e3fd8;
  box-sizing: border-box;
  box-shadow: 0 65px 150px 10px rgba(125, 131, 252, 0.25);
}
.lorem-ipsum-is2 {
  position: absolute;
  top: 33px;
  left: 0;
  display: inline-block;
  width: 300px;
  height: 82px;
}
.increase-conversion-text,
.read-more-text1 {
  position: absolute;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.increase-conversion-text {
  top: 0;
  font-size: 24px;
  color: #2e323b;
}
.read-more-text1 {
  top: 135px;
  color: #3e3fd8;
}
.arrow-icon1 {
  position: absolute;
  top: 144.23px;
  left: 94px;
  width: 18px;
}
.group-container27,
.rectangle21 {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 300px;
  height: 161px;
}
.rectangle21 {
  top: 30px;
  border-radius: 10px;
  background-color: #7d83fc;
  box-shadow: 0 26px 50px rgba(125, 131, 252, 0.25);
  width: 100px;
  height: 100px;
}
.bitcoin-cryptocurrency-image {
  position: absolute;
  top: 48px;
  left: 47px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.group-container26,
.rectangle20 {
  position: absolute;
  top: 320px;
  left: 540px;
  width: 360px;
  height: 360px;
}
.rectangle20 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.15);
}
.lorem-ipsum-is1 {
  position: absolute;
  top: 33px;
  left: 0;
  display: inline-block;
  width: 300px;
  height: 82px;
}
.increase-analytics-text,
.read-more-text {
  position: absolute;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.increase-analytics-text {
  top: 0;
  font-size: 24px;
  color: #2e323b;
}
.read-more-text {
  top: 135px;
  color: #3e3fd8;
}
.arrow-icon {
  position: absolute;
  top: 144.23px;
  left: 94px;
  width: 18px;
}
.group-container25,
.rectangle19 {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 300px;
  height: 161px;
}
.rectangle19 {
  top: 30px;
  border-radius: 10px;
  background-color: #ff3d68;
  box-shadow: 0 26px 50px rgba(255, 61, 104, 0.25);
  width: 100px;
  height: 100px;
}
.pie-chart-image {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.group-container24 {
  position: absolute;
  top: 320px;
  left: 920px;
  width: 360px;
  height: 360px;
}
.frame-container9 {
  position: absolute;
  top: 1897px;
  left: 0;
  width: 1440px;
  height: 745px;
}
.recruiter-found-an-employee {
  position: absolute;
  top: 80px;
  left: 635px;
  width: 703px;
  height: 679px;
  object-fit: cover;
}
.lorem-ipsum-is {
  position: absolute;
  top: 162px;
  left: 0;
  display: inline-block;
  width: 550px;
  height: 81px;
}
.group-container23,
.unique-solutions-for {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
}
.unique-solutions-for {
  font-size: 48px;
  display: inline-block;
  color: #2e323b;
  height: 142px;
}
.group-container23 {
  height: 243px;
  font-size: 18px;
}
.rectangle18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: rgba(252, 221, 236, 0.5);
  width: 170px;
  height: 100px;
}
.text1,
.total-client-text {
  position: absolute;
  top: 3px;
  left: 37px;
  display: inline-block;
}
.total-client-text {
  top: 55px;
  left: 43px;
  font-size: 18px;
  color: #2e323b;
}
.group-container22,
.rectangle17 {
  position: absolute;
  left: 0;
  width: 170px;
  height: 100px;
}
.group-container22 {
  top: 283px;
  color: #ff3d68;
}
.rectangle17 {
  top: 0;
  border-radius: 25px;
  background-color: rgba(252, 221, 236, 0.5);
}
.project-done-text,
.text {
  position: absolute;
  top: 3px;
  left: 24px;
  display: inline-block;
}
.project-done-text {
  top: 55px;
  left: 35px;
  font-size: 18px;
  color: #2e323b;
}
.group-container21 {
  position: absolute;
  top: 283px;
  left: 190px;
  width: 170px;
  height: 100px;
  color: #3e3fd8;
}
.group-container20 {
  position: absolute;
  top: 228px;
  left: 160px;
  width: 550px;
  height: 383px;
}
.frame-container8 {
  position: absolute;
  top: 2642px;
  left: 0;
  width: 1440px;
  height: 839px;
  font-size: 48px;
}
.testemonials-text,
.what-the-people {
  position: absolute;
  display: inline-block;
}
.testemonials-text {
  top: 120px;
  left: 571px;
  font-size: 24px;
  letter-spacing: 0.5em;
  color: #3e3fd8;
}
.what-the-people {
  top: 175px;
  left: 337px;
  font-size: 48px;
  color: #2e323b;
}
.rectangle16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
  width: 360px;
  height: 204px;
}
.jack-williamson-text2 {
  position: absolute;
  top: 40px;
  left: 110px;
  font-size: 24px;
  color: #2e323b;
  display: inline-block;
}
.lorem-ipsum-dolor2,
.one-year-with2 {
  position: absolute;
  top: 75px;
  left: 110px;
  display: inline-block;
}
.lorem-ipsum-dolor2 {
  top: 121px;
  left: 20px;
  width: 320px;
  height: 43px;
}
.ellipse-image2 {
  position: absolute;
  top: 31px;
  left: 20px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-container19,
.rectangle15 {
  position: absolute;
  top: 284px;
  left: 160px;
  width: 360px;
  height: 204px;
}
.rectangle15 {
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #3e3fd8;
  box-sizing: border-box;
  box-shadow: 4px 10px 25px rgba(0, 0, 0, 0.1);
}
.jack-williamson-text1 {
  position: absolute;
  top: 40px;
  left: 110px;
  font-size: 24px;
  color: #2e323b;
  display: inline-block;
}
.lorem-ipsum-dolor1,
.one-year-with1 {
  position: absolute;
  top: 75px;
  left: 110px;
  display: inline-block;
}
.lorem-ipsum-dolor1 {
  top: 121px;
  left: 20px;
  width: 320px;
  height: 43px;
}
.ellipse-image1 {
  position: absolute;
  top: 31px;
  left: 20px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-container18,
.rectangle14 {
  position: absolute;
  top: 284px;
  left: 540px;
  width: 360px;
  height: 204px;
}
.rectangle14 {
  top: 0;
  left: 0;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
}
.jack-williamson-text {
  position: absolute;
  top: 40px;
  left: 110px;
  font-size: 24px;
  color: #2e323b;
  display: inline-block;
}
.lorem-ipsum-dolor,
.one-year-with {
  position: absolute;
  top: 75px;
  left: 110px;
  display: inline-block;
}
.lorem-ipsum-dolor {
  top: 121px;
  left: 20px;
  width: 320px;
  height: 43px;
}
.ellipse-image {
  position: absolute;
  top: 31px;
  left: 20px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-container17 {
  position: absolute;
  top: 284px;
  left: 920px;
  width: 360px;
  height: 204px;
}
.frame-container7 {
  position: absolute;
  top: 3481px;
  left: 0;
  width: 1440px;
  height: 608px;
}
.latest-news-text,
.there-are-many2 {
  position: absolute;
  display: inline-block;
}
.there-are-many2 {
  top: 169px;
  left: 475px;
  text-align: center;
  width: 490px;
  height: 48px;
}
.latest-news-text {
  top: 80px;
  left: 585px;
  font-size: 48px;
  color: #2e323b;
}
.rectangle13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #3e3fd8;
  box-sizing: border-box;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
  width: 360px;
  height: 414px;
}
.unsplash8yg31xn4dsw-image {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 20px;
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.discover-cennect-with2 {
  position: absolute;
  top: 300px;
  left: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #2e323b;
  display: inline-block;
  width: 320px;
  height: 74px;
}
.jack-wilson-text2 {
  position: absolute;
  top: 3px;
  left: 35px;
  display: inline-block;
}
.ellipse-icon2,
.person-icon2 {
  position: absolute;
  top: 547px;
  left: 180px;
  width: 30px;
  height: 30px;
}
.person-icon2 {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.group-container16,
.mask-group-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.group-container16 {
  top: 250px;
  left: 20px;
  width: 124px;
}
.march-20222 {
  position: absolute;
  top: 3px;
  left: 33px;
  display: inline-block;
}
.group-container15,
.icon2 {
  position: absolute;
  height: 32px;
}
.icon2 {
  top: 0;
  left: 0;
  width: 31px;
  object-fit: cover;
}
.group-container15 {
  top: 251px;
  left: 186px;
  width: 154px;
}
.group-container14,
.rectangle12 {
  position: absolute;
  top: 297px;
  left: 160px;
  width: 360px;
  height: 414px;
}
.rectangle12 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #3e3fd8;
  box-sizing: border-box;
  box-shadow: 4px 20px 100px rgba(62, 63, 216, 0.25);
}
.unsplashdinfwacx8bk-image {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 20px;
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.discover-cennect-with1 {
  position: absolute;
  top: 300px;
  left: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #2e323b;
  display: inline-block;
  width: 320px;
  height: 74px;
}
.jack-wilson-text1 {
  position: absolute;
  top: 3px;
  left: 35px;
  display: inline-block;
}
.ellipse-icon1,
.person-icon1 {
  position: absolute;
  top: 547px;
  left: 560px;
  width: 30px;
  height: 30px;
}
.person-icon1 {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.group-container13,
.mask-group-container1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.group-container13 {
  top: 250px;
  left: 20px;
  width: 124px;
}
.march-20221 {
  position: absolute;
  top: 3px;
  left: 33px;
  display: inline-block;
}
.group-container12,
.icon1 {
  position: absolute;
  height: 32px;
}
.icon1 {
  top: 0;
  left: 0;
  width: 31px;
  object-fit: cover;
}
.group-container12 {
  top: 251px;
  left: 186px;
  width: 154px;
}
.group-container11,
.rectangle11 {
  position: absolute;
  top: 297px;
  left: 540px;
  width: 360px;
  height: 414px;
}
.rectangle11 {
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #3e3fd8;
  box-sizing: border-box;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
}
.unsplash2fpjlaymqta-image {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 20px;
  width: 320px;
  height: 200px;
  object-fit: cover;
}
.discover-cennect-with {
  position: absolute;
  top: 300px;
  left: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #2e323b;
  display: inline-block;
  width: 320px;
  height: 74px;
}
.jack-wilson-text {
  position: absolute;
  top: 3px;
  left: 35px;
  display: inline-block;
}
.ellipse-icon,
.person-icon {
  position: absolute;
  top: 547px;
  left: 940px;
  width: 30px;
  height: 30px;
}
.person-icon {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.group-container10,
.mask-group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.group-container10 {
  top: 250px;
  left: 20px;
  width: 124px;
}
.march-2022 {
  position: absolute;
  top: 3px;
  left: 33px;
  display: inline-block;
}
.group-container9,
.icon {
  position: absolute;
  height: 32px;
}
.icon {
  top: 0;
  left: 0;
  width: 31px;
  object-fit: cover;
}
.group-container9 {
  top: 251px;
  left: 186px;
  width: 154px;
}
.group-container8 {
  position: absolute;
  top: 297px;
  left: 920px;
  width: 360px;
  height: 414px;
}
.frame-container6 {
  position: absolute;
  top: 4089px;
  left: 0;
  width: 1440px;
  height: 791px;
}
.join-our-comunity {
  position: absolute;
  top: 80px;
  left: 626px;
  color: #3e3fd8;
  display: inline-block;
}
.subscribe-to-our {
  top: 135px;
  left: 397px;
  font-size: 48px;
  color: #2e323b;
}
.enter-your-email,
.subscribe-to-our,
.there-are-many1 {
  position: absolute;
  display: inline-block;
}
.there-are-many1 {
  top: 224px;
  left: 475px;
  font-size: 18px;
  text-align: center;
  width: 490px;
  height: 48px;
}
.enter-your-email {
  top: 19px;
  left: 47px;
}
.rectangle10,
.rectangle9 {
  position: absolute;
  border-radius: 50px;
}
.rectangle10 {
  top: 0;
  left: 0;
  border: 2px solid #61646b;
  box-sizing: border-box;
  width: 740px;
  height: 73px;
}
.rectangle9 {
  top: 4px;
  left: 570px;
  background-color: #3e3fd8;
  width: 166px;
  height: 65px;
}
.get-started-text {
  position: absolute;
  top: 19px;
  left: 596px;
  color: #fff;
  display: inline-block;
}
.group-container7 {
  position: absolute;
  top: 312px;
  left: 350px;
  width: 740px;
  height: 73px;
  text-align: center;
}
.frame-container5,
.rectangle8 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.frame-container5 {
  top: 4880px;
  height: 465px;
  font-size: 24px;
}
.rectangle8 {
  top: 0;
  background-color: #3e3fd8;
  height: 472px;
}
.there-are-many {
  position: absolute;
  top: 192px;
  left: 160px;
  font-size: 18px;
  display: inline-block;
  width: 326px;
  height: 85px;
}
.real {
  top: 426px;
  left: 567px;
  font-size: 18px;
}
.agency-text,
.product-text,
.real {
  position: absolute;
  display: inline-block;
}
.agency-text {
  top: 120px;
  left: 160px;
  font-size: 36px;
}
.product-text {
  top: 0;
  left: 0;
  font-weight: 600;
}
.absences-text,
.employee-database-text,
.payroll-text1 {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.time-tracking-text {
  position: relative;
  display: inline-block;
}
.frame-container4 {
  position: absolute;
  top: 55px;
  left: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
}
.group-container6 {
  position: absolute;
  top: 133px;
  left: 540px;
  width: 148px;
  height: 189px;
}
.information-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.blog-text,
.faqs-text,
.support-text {
  margin-bottom: 10px;
}
.blog-text,
.faqs-text,
.payroll-text,
.support-text {
  position: relative;
  display: inline-block;
}
.frame-container3 {
  position: absolute;
  top: 55px;
  left: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
}
.group-container5 {
  position: absolute;
  top: 133px;
  left: 825px;
  width: 125px;
  height: 189px;
}
.company-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.about-us-text,
.careers-text {
  margin-bottom: 10px;
}
.about-us-text,
.careers-text,
.contact-us-text {
  position: relative;
  display: inline-block;
}
.frame-container2 {
  position: absolute;
  top: 55px;
  left: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
}
.group-container4,
.rectangle7 {
  position: absolute;
  top: 133px;
  left: 1110px;
  width: 103px;
  height: 153px;
}
.rectangle7 {
  top: 5px;
  left: 5px;
  border-radius: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.linkedin-2,
.linkedin-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.linkedin-2-icon {
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.group-container3,
.rectangle6 {
  position: absolute;
  top: 297px;
  left: 155px;
  width: 55px;
  height: 55px;
}
.rectangle6 {
  top: 5px;
  left: 5px;
  border-radius: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.facebook-f-icon,
.linkedin-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
.facebook-f-icon {
  top: 16px;
  left: 16px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.group-container2,
.rectangle5 {
  position: absolute;
  top: 297px;
  left: 230px;
  width: 55px;
  height: 55px;
}
.rectangle5 {
  top: 0;
  left: 0;
  border-radius: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.twitter-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.group-container1 {
  position: absolute;
  top: 302px;
  left: 305px;
  width: 50px;
  height: 50px;
}
.frame-container1 {
  position: absolute;
  top: 5345px;
  left: 0;
  width: 1440px;
  height: 472px;
  font-size: 24px;
  color: #fff;
}
.color-scheme-text,
.thank-you-for,
.typeface-text {
  position: absolute;
  top: 349px;
  left: 631px;
  display: inline-block;
}
.color-scheme-text,
.thank-you-for {
  top: 786px;
  left: 575px;
}
.thank-you-for {
  top: 1622px;
  left: 270px;
  font-size: 144px;
  font-weight: 600;
  color: #3e3fd8;
  text-align: center;
  width: 900px;
  height: 400px;
  text-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
}
.jost-text,
.regular-semi-bold-bold,
.tools-text {
  position: absolute;
  top: 1195px;
  left: 670px;
  display: inline-block;
}
.jost-text,
.regular-semi-bold-bold {
  top: 597px;
  left: 474px;
}
.jost-text {
  top: 438px;
  left: 639px;
  font-size: 96px;
}
.line {
  position: absolute;
  top: 587px;
  left: 445px;
  width: 550px;
  height: 0;
}
.b-text,
.e323b-text,
.e3fd8-text,
.eef4ff-text,
.ffffff-text {
  position: absolute;
  top: 130px;
  left: 5px;
  font-weight: 500;
  display: inline-block;
}
.b-text,
.e323b-text,
.eef4ff-text,
.ffffff-text {
  left: 100px;
}
.b-text,
.e323b-text,
.ffffff-text {
  left: 196px;
}
.b-text,
.e323b-text {
  left: 291px;
}
.b-text {
  left: 387px;
}
.rectangle,
.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: #3e3fd8;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
  width: 75px;
  height: 120px;
}
.rectangle,
.rectangle1,
.rectangle2,
.rectangle3 {
  left: 95px;
  background-color: #eef4ff;
}
.rectangle,
.rectangle1,
.rectangle2 {
  left: 190px;
  background-color: #fff;
}
.rectangle,
.rectangle1 {
  left: 285px;
  background-color: #2e323b;
}
.rectangle {
  left: 381px;
  background-color: #61646b;
}
.group-container {
  position: absolute;
  top: 919px;
  left: 492px;
  width: 456px;
  height: 156px;
  font-size: 18px;
}
.image-1 {
  position: absolute;
  top: 1304px;
  left: 642px;
  border-radius: 35px;
  width: 149px;
  height: 149px;
  object-fit: cover;
}
.frame-container {
  position: absolute;
  top: 5817px;
  left: 0;
  width: 1440px;
  height: 2371px;
  font-size: 48px;
  color: #000;
}
.desktop-1440-container {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 5817px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #61646b;
  font-family: Jost;
}
